extends layout
block head
    include appscripts
block body
    div(ng-controller="MainController")
        ul
            li(ng-repeat="p in posts") {{ p.test }}
        a(href="#/home") /home
        br
        a(href="#/search?page=1") /search?page=1
        br
        a(href="#/search?page=2") /search?page=2
        br
        div scope.page {{ page }}
        br
        ng-view