extends layout
block head
    include appscripts
block body
    div(ng-controller="MainController")
        ul
            li(ng-repeat="p in posts | paginate:rowsPerPage") {{ p.title }}
        br
        paginator
